﻿@model RockPaperScissors.Models.Game

<div class="jumbotron">
    <h1>Rock, Paper Scissors</h1>
    @using (Html.BeginForm())
    {
        <div>@Html.DisplayNameFor(m => m.UsersGuess)</div>
        foreach (string option in Model.Options)
        {

            <label>
                @Html.RadioButtonFor(m => m.UsersGuess, option, new { @class = "" })
                <span>@option</span>
            </label>
            <br />
        }
        @Html.ValidationMessageFor(m => m.UsersGuess)
        <input class="btn btn-primary btn-lg" type="submit" value="Play" />
    }
</div>