﻿@model RockPaperScissors.Models.Game

<div class="jumbotron">
    <div>
        <h1>Results:</h1>
        <h2>Winner:</h2>
        <h4>@Model.Winner</h4>

        <div>
            @Html.ActionLink("Play again", "Play", null, new { @class = "btn btn-primary btn-lg" })
        </div>
    </div>
</div>
